<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-picture-manager</title>
  <!--该项目依赖于vue，element-ui，如果您的项目已经引用过，可以不必再次引入-->
  <!--vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!--element-ui-->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <!--必须保证在vue和element-ui的引入之后-->
  <!--vue-picture-manager-->
  <link rel="stylesheet" href="../static/iconfont/iconfont.css">
  <script src="../dist/vue-picture-manager.js"></script>
</head>
<body>

<div id="app">
  <el-button @click="showPicManager" type="primary">选择图片</el-button>
  <div v-if="selectedList.length!=0">
    <img height="200" v-for="item in selectedList" :src="item" alt="">
  </div>
  <vue-picture-manager
    ref="pictureManager"
    :upload-path="uploadPath"
    :img-list="imgList"
    @upload-response="uploadResponse"
    @delete="deleteHandler"
    @selected="selected">
  </vue-picture-manager>

</div>

</body>
<script>
  var app=new Vue({
    el:"#app",
    data:function () {
      return {
        uploadPath:'http://localhost:8088/smallappM/vender/goodsInfo/uploadImg',
        selectedList: [],
        isShow: false,
        msg: 'Welcome to Your Vue.js App',
        imgList: [
          'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528290656336&di=4e0f860cb8a078356935dbfd77303071&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01b34e595da4c1a8012193a3b0a930.jpg%402o.jpg',
          'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3650821734,216302652&fm=27&gp=0.jpg',
          'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=863946972,1320437579&fm=27&gp=0.jpg',
          'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2331418472,997892443&fm=27&gp=0.jpg',
          'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2168851560,2127087326&fm=27&gp=0.jpg',
          'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=189016275,904273216&fm=27&gp=0.jpg',
          'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3624658227,1873430595&fm=27&gp=0.jpg',
          'https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2269707447,3312642447&fm=27&gp=0.jpg',
          'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4076705715,3109825956&fm=27&gp=0.jpg',
          'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1643364463,3040105054&fm=27&gp=0.jpg',
          'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3957931430,771077774&fm=27&gp=0.jpg',
          'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4024491638,1929347796&fm=27&gp=0.jpg',
        ]
      }
    },
    methods: {
      deleteHandler(url){
        this.$message.info('删除的图片url为：'+url);
      },
      showPicManager() {
        var that = this;
        // this.isShow=true;
        this.$refs.pictureManager.show({
          defaultUrlList: [],  //默认选中的图片的地址数组
          ensureFun: function (res) {  //选中图片后点击'确定'的回调，返回选中的图片数组
            that.selectedList = res
          }
        });
      },
      uploadResponse(res){
        console.log(res);
        if(res.code==0){
          this.$message.success('上传成功')
        }else{
          this.$message.error('上传失败')
        }
      },
      selected(val) {
        console.log('选中的图片url：', val);
      }
    }
  })
</script>
</html>
